.boxbody {
    position: relative;
    width: 100%;
    height: 50rem;
    background: linear-gradient(to bottom, white, #1677ff);
}

@font-face {
    font-family: 'fontnameRegular';
    src: url('./Pointy.ttf');
}

.brand {
    color: grey;
    font-family: 'fontnameRegular';
    font-size: 1rem;
    margin-bottom: 0.4rem
}

.number {
    position: absolute;
    top: 5rem;
    left: 1rem;
    text-align: center;
}